/*GlobalNavbar*/

#navbar{
  display: flex;
  justify-content: space-around;
  background-color: black;
  align-items: center;
  /*position: fixed;
  z-index: 3;*/
  width: 100%;
  border-bottom: #E91E63 4px solid;
  background-size: 426px 167px;
  height: 6rem;
}

@media (min-width: 426px) {
  #navbar{
    background-size: 386px 167px;
  }
}

@media (min-width: 769px) {
  #navbar{
    background-size: 342px 167px;
  }
}

@media (min-width: 426px) {
  #navbar{
    background-size: 386px 167px;
  }
}

#show-on-mobile {
  display: block;
  background: #ffffff99;
  border-color: unset;
}

/* Media query per nascondere il pulsante sui desktop e mostrarlo sui dispositivi mobili */
@media (min-width: 769px) {
  #show-on-mobile {
    display: none;
  }
}

#title{
    color: rgb(0 0 0);
    margin: 0%;
    background: #ffffff99;
}

#navbar-item-desktop{
 display: none;
}

/* Media query per mostrare le sezioni della navbar su laptop e desktop */
@media (min-width: 769px) {
  #navbar-item-desktop{
      display: flex;
      background: #ffffff99;
      align-items: center;
  }

  #navbar-item-desktop p{
      margin: 0;
      padding: 1rem;
  }

  #navbar-item-desktop p:hover{
    background-color: red;
  }

  #navbar-item-desktop a{
      color: black;
      text-decoration: unset;
  }
}

#navbar-profile{
  background: #ffffff99;
  border-color: unset;
  padding: 1rem;
}

#profile-items{
    position: absolute;
    /*right: 2rem;
    top: 5rem;*/
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    animation: list 0.5s ease-in-out;
}

@keyframes list {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}

/*MainHome*/

.group-paragrafer{
  opacity: 1;
  transition: opacity 2s;
  width: 100%;
  height: 30rem;
  padding-top: 1rem;
  animation: GroupParagrafer 6s ease-out;
  position: absolute;
  z-index: 1;
  background-color: black;
  color: white;
  text-align: center;
}

#para1, #para2, #para3, #para4, #para5 {
  margin: 0;
  margin-top: 1rem;
  padding: 1rem;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 0px 1px 4px;
  font-weight: bold;
}

@media (min-width: 426px){
    #para1, #para2, #para3, #para4, #para5 {
      padding: 2rem;
      margin-top: 0;
  }
}

.visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease, transform 1s ease;
}

.hidden {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 1s ease, transform 1s ease;
}

#group-img{
  position: relative;
  z-index: 2;
  justify-content: space-around;
  display: flex;
  width: 100%;
}

#slide-img-sinistra{
  width: 50%;
  animation: slideImg 2s ease-in-out;
  display: flex;
  flex-direction: column;
}

#slide-img-sinistra img{
  width: 0%;
  height: 15rem;
  animation: slideImgSinistra 2s ease-in-out;
}

#slide-img-destra{
  align-items: flex-end;
  width: 50%;
  display: flex;
  flex-direction: column;
}


#slide-img-destra img{
  width: 0%;
  height: 15rem;
  animation: slideImgDestra 2s ease-in-out;
}

@keyframes slideImgDestra {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes slideImgSinistra {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@media (min-width: 426px){

  #slide-img-sinistra img{
    width: 40%;
    height: 15rem;
    animation: slideImgSinistra 2s ease-in-out;
  }

  #slide-img-destra img{
    width: 40%;
    height: 15rem;
    animation: slideImgDestra 2s ease-in-out;
  }

  @keyframes slideImgDestra {
    0% {
      width: 100%;
    }
    100% {
      width: 40%;
    }
  }

  @keyframes slideImgSinistra {
    0% {
      width: 100%;
    }
    100% {
      width: 40%;
    }
  }
}

/*inizio style per le immagini in home*/

#immagine1{

}

#immagine2{
  transform: scaleY(-1);
}

#immagine3{
  transform: scalex(-1);
}

#immagine4{
  transform: scale(-1);
}

/*fine style per le immagini in home*/

#HomeDiv1, #HomeDiv2, #HomeDiv3, #HomeDiv4{
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: #00ff34 5px solid;
  border-bottom: #00ff34 5px solid;
}

#HomeDiv1{
  background-image: url('../src/img/battaglie.avif');
  background-size: contain;
}

#HomeDiv2{
  background-image: url('../src/img/invenzioni.jpg');
  background-size: contain;
}

#HomeDiv3{
  background-image: url('../src/img/epoche.jpg');
  background-size: contain;
}

#HomeDiv4{
  background-image: url('../src/img/continenti.jpg');
  background-size: contain;
}

.HomeDivParagrafi{
  margin: 1rem;
  padding: 5rem;
  border-right: black 3px solid;
  background-color: white;
  border-radius: 4rem;
  width: 92%;
}

#giraPagina{
  width: 70%;
  height: 10rem;
  border-radius: 3rem;
  border: unset;
}

#giraPagina:hover{
  background-color: red;
  color: white;
  box-shadow: 0px 5px 9px 3px;
}

.DivVisible {
  animation: visible1 1s forwards;
  width: 100%;
}

.DivHidden {
  animation: hidden1 0.5s forwards;
}

@keyframes visible1 {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    display: none;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    display: block;
  }
}

        @keyframes hidden1 {
  0% {
    opacity: 1;
    transform: translateX(0);
    display: block;
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
    display: none;
  }
}

.HomeCaroselli{
  width: 93%;
  background-color: black;
  margin: 1rem;
  padding: 1rem;
  border-radius: 2rem;
}

.HomeCaroselli img{
  width: 100%;
  height: 22rem;
}

@media (min-width: 426px) {
    .HomeCaroselli img{
    height: 35rem;
  }
}

.HomeCaroselli h3, .HomeCaroselli p{
  margin: 1rem;
  background-color: white;
  color: black;
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: medium;
}

.HomeAncore{
  display: block;
  border: #ffffff 1px solid;
  padding: 1rem;
  text-align: center;
  margin-top: 3rem;
  color: black;
  border-radius: 50px;
  border-color: red;
  background-color: #dfdfdf8a;
}

.HomeAncore:hover{
  background-color: red;
  box-shadow: 0px 0px 15px 1px;
}
